* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Belanosima', Arial, sans-serif;
    background-color: #fafafa;
    margin: 0 20px;
    /* Ensures margins on both sides */
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

#logo img {
    width: 350px;
}

#translate {
    display: flex;
    align-items: center;
}

#translate input {
    padding: 5px;
    margin-right: 10px;
}

#translate button {
    padding: 5px 10px;
    background-color: #aaa;
    border: none;
    cursor: pointer;
}


/* Navigation Bar */
nav {
    background-color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.color-bars {
    display: flex;
    /* i learned this from one of my best firends whos in cs majors */
    justify-content: center;
    justify-content: space-between;
    margin-top: 10px;
}

.color-bar {
    height: 18px;
    width: 19%;
}

.color-bar-1 {
    background-color: #f4e146;
}

.color-bar-2 {
    background-color: #6dae65;
}

.color-bar-3 {
    background-color: #d8955c;
}

.color-bar-4 {
    background-color: #475f9c;
}

.color-bar-5 {
    background-color: #b5513f;
}

/* Side nav bar */


.side-nav {
    margin: 20px 10px;
    width: 220px;

}

.side-nav-label,
.accordion-menu {
    padding: 20px 10px;
}

.accordion-menu {
    line-height: 24px;
}

.side-nav-label {
    background-color: #f0f0f0;
}

/* Registration */

.registration {
    background-color: #fafafa;
    margin: 30px 20px;

}

.registration-panel {
    background-color: #f0f0f0;
    width: 50%;
    display: block;
    position: relative;
    bottom: 300px;
    left: 400px;
}

.registration-panel h1 {
    text-align: center;
    padding: 30px;
    border-radius: 10px 10px 10px 10px;

}

.registration-container {
    margin: 30px;
}

/* Registraton box 1 and 2 */
.regisboxtext {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.regisheader {
    background-color: #3FB760;
    padding: 20px;
    text-align: center;
    color: #FAFAFA;
    border-radius: 10px 10px 0 0;
}

.regisbox1,
.regisbox2 {
    display: inline;


}

.regisbutton button {
    background-color: #fc0;
    display: block;
    margin: 20px auto 20px 325px;
    padding: 10px 20px;
    border-radius: 5px;
    border-width: 0;
    font-weight: bold;
    width: 150px;


}


.map {
    position: relative;
    left: 325px;
    bottom: 295px;
}

/* Footer */

footer {
    text-align: center;
    background-color: #3FB760;
    color: white;
    padding: 20px;
}